.indexFondo {
    /* background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../../img/background.jpg"); */
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url("../../img/background.jpg");
    height: 100vh;
    background-size: cover;
}

.indexBoxLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.indexImg {
    width: 60%;
}

.indexBoxTexto {
    padding: 5%;
}

.landingFuente{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    letter-spacing: 10px;
}

.indexTextTitulo {
    color: white;
    font-size: 2rem;
}

.indexTextSubtitulo {
    color: white;
    font-size: 1.2rem;
    padding-bottom: 5%;
}

.indexTextParrafo {
    color: white;
}

.indexBoxBotones {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.landingButtonSubmit {
    width: 40vw;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #26E673;
    background-color: #26E673;
    font-size: .6rem;
    padding-top: 2%;
    padding-bottom: 2%;
}

.landingButtonSubmit:hover{
    background-color: #196B3A;
    border-color: #196B3A;
    color: white;
}

@media only screen and (min-width: 768px) {

    .indexFondo {
        display: flex;
        align-items: center;
    }

    .indexImg {
        width: 100%;
        display: flex;
    }

    .indexBoxLogo {
        width: 50%;
    }

    .indexBoxTexto {
        width: 50%;
    }

    .indexBoxTexto {
        padding-right: 10%;
    }

    .landingButtonSubmit {
        width: 16vw;
    }

    .indexTextTitulo {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 425px) {

    .landingButtonSubmit {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 768px) {

    .landingButtonSubmit {
        font-size: .6rem;
    }
}

@media only screen and (min-width: 1024px) {

    .landingButtonSubmit {
        font-size: .9rem;
    }

    .indexImg {
        width: 70%;   
    }
}