.formularioContainer {
  padding-top: 100px;
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "contactoTitulo"
    "proyectoEnMenteContainer"
    "form"
    "dwordDatosContainer";
    row-gap: 50px;
}

.contactoTitulo{
  grid-area: contactoTitulo;
  padding: 0 5vh;
  letter-spacing: 5px;
}

.dwordDatosContainer{
  position: relative;;
}

.dwordDatos h3{
  letter-spacing: 10px;
}

.proyectoEnMenteContainer{
  grid-area: proyectoEnMenteContainer;
  padding: 0 5vh;
  display: flex;
}

.proyectoEnMente{
  border-left: 3px solid #26E673;
  padding-left: 10px;
}

.proyectoEnMente h3{
  padding-bottom: 20px;
  font-weight: 600;
}

.proyectoEnMente p{
  font-weight: 500;
  font-size: 25px;
}

.form{
  grid-area: form;
  padding: 0 5vh;
}

.dwordDatosContainer{
  grid-area: dwordDatosContainer;
  background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url("../../img/background.jpg") ;
  background-size: 100%;
  color:white;
  text-align: center;
  padding: 5vh 0;
}

input, textarea{
  display: block;
  border: none;
  border-bottom: 2px solid rgb(219, 211, 211);
  padding-bottom: 5px;
  padding-top: 20px;
  width: 100%;
  caret-color: #196B3A;
  }

::placeholder{
  color: black;
}

textarea{
  resize: none;
  height: 120px;
}

.buttonSubmit{
  width: 100%;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #26E673;
  background-color: #26E673;
  }

  .buttonSubmit:hover{
    background-color: #196B3A;
    color: white;
  }

.dwordDatosContainer p{
  display: inline;
}


.lineaDecoracionFormulario{
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #26E673;
}

@media only screen and (min-width: 768px) {
  .formularioContainer{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "contactoTitulo contactoTitulo"
      "proyectoEnMenteContainer form"
      "dwordDatosContainer form";
      padding-bottom: 100px;
  }

  .contactoTitulo{
    font-size: 50px;
    margin-left: 10%;
    letter-spacing: 10px;
  }

  .proyectoEnMenteContainer{
    width: 85%;
    margin-left: 20%;
    font-size: 20px;
  }

  .proyectoEnMente h3{
    font-size: 40px;
    margin-bottom: 40px;
  }

  .proyectoEnMente{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10%;
  }

  .dwordDatosContainer{
    display:flex;
    justify-content: center;
  }

  .dwordDatos{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
  }

  .dwordDatos p{
    margin: 0;
    margin-top: 15px;
    font-size: 25px;
  }

  .dwordDatos h3{
    margin-bottom: 70px;
    font-size: 50px;
    padding-top: 30px;
    letter-spacing: 20px;
  }

  .spanDwordDatos{
    display: none;
  }

  .lineaDecoracionFormulario{
    width: 2px;
    height: 50px;
    right: 20px;
    bottom: 36px;
    left: unset;
  }

  .formFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 10%;
    margin-right: 15%;
  }

  .buttonSubmit{
    width: fit-content;
    border-radius: 15px;
  }
}