.formularioContainer{
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "contactoTitulo"
  "proyectoEnMente" 
  "formulario"
  "dwordDatosContainer";
  background-color: white;
  color: black;
}

.contactoTitulo{
grid-area: contactoTitulo;
width: 100%;
margin-left: 12%;
}

.contacto{
display: flex;
flex-direction: column;
justify-content: space-evenly;
width: 50%;
}

.proyectoEnMente{
grid-area: proyectoEnMente;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
padding: 20px 0px;
}

.subTitulo{
border-left: 3px solid #26E673;
padding-left: 10px;
width: 50%;
}

.dwordDatosContainer{
grid-area: dwordDatosContainer;
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
color: white;
background-color: black;
padding: 20px 0px;
position: relative;
}

.lineaDecoracionFormulario{
position: absolute;
width: 2px;
height: 40px;
right: 25px;
bottom: 36px;
background-color: #26E673;
}

.dwordDatos{
width: 50%;
}

.form{
grid-area: formulario;
margin:0 25vh;
display: flex;
flex-direction: column;
padding-bottom: 10vh;
}

input, textarea{
display: block;
border: none;
border-bottom: 2px solid rgb(219, 211, 211);
padding-bottom: 5px;
padding-top: 20px;
width: 200px;
}

.buttonSubmit{
font-weight: 600;
padding: 10px 20px;
margin-top: 30px;
border-radius: 10px;
border: 1px solid #26E673;
background-color: #26E673;
}

@media only screen and (min-width: 768px) {
.formularioContainer{
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: auto;
  grid-template-areas:
  "contactoTitulo contactoTitulo"
  "proyectoEnMente formulario"
  "dwordDatosContainer formulario";
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.dwordDatosContainer{
  flex-direction: row;
}

.form{
  padding-bottom: 0;
}


.contactoTitulo{
  margin: 0;
  padding: 0;
  text-align: center;
}

.lineaDecoracionFormulario{
  bottom: 0;
  width: 50px;
  height: 3px;
}

}