.formularioContainer {
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "contactoTitulo"
    "proyectoEnMenteContainer"
    "form"
    "dwordDatosContainer";
    row-gap: 50px;
}

.contactoTitulo{
  grid-area: contactoTitulo;
  padding: 0 5vh;
}

.dwordDatosContainer{
  position: relative;;
}

.proyectoEnMenteContainer{
  grid-area: proyectoEnMenteContainer;
  padding: 0 5vh;
  display: flex;
}

.proyectoEnMente{
  border-left: 3px solid #26E673;
  padding-left: 10px;
}

.form{
  grid-area: form;
  padding: 0 5vh;
}

.dwordDatosContainer{
  grid-area: dwordDatosContainer;
  background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url("../../img/background.jpg") ;
  background-size: 100%;
  color:white;
  text-align: center;
  padding: 5vh 0;
}

input, textarea{
  display: block;
  border: none;
  border-bottom: 2px solid rgb(219, 211, 211);
  padding-bottom: 5px;
  padding-top: 20px;
  width: 100%;
  }

textarea{
  height: 120px;
}

.buttonSubmit{
  width: 100%;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #26E673;
  background-color: #26E673;
  }

.dwordDatosContainer p{
  display: inline;
}

.lineaDecoracionFormulario{
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #26E673;
}