.serviciosPadre {
    background-color: black;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.serviciosTituloMovile {
    color: white;
    font-size: 2rem;
    padding-top: 20%;
    letter-spacing: 5px;
}

.serviciosTituloTablet {
    display: none;  
}

.serviciosLineaMovile {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1.5px solid;
    opacity: 100;
}

.serviciosCarrousel {
    top: 35%;
    position: absolute;

}

.servicios{
    display: flex;
    justify-content: space-evenly;
}

.serviciosCard {
    height: 50vh;
    background-color: white;
    width: 80vw;  
}

.serviciosCardSombra {
    box-shadow: 10px 9px 15px -4px rgba(0,0,0,0.43);
    -webkit-box-shadow: 10px 9px 15px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 9px 15px -4px rgba(0,0,0,0.43);
    border-radius: 5%;
}

.serviciosImg {
    width: 100%;
    border-radius: 5px;
}

.serviciosCardImg {
    display: flex;
    padding: 5% 10% 5% 10%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.serviciosCardBoxTexto {
    padding: 5% 10% 15% 10%;  
}

.serviciosCardTitulo {
    padding-bottom: 5%;
    color: black;
}


.serviciosCardParrafo {
    padding-bottom: 5%;
    color: black;
}

.serviciosCardBtn {
    width: 40vw;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #26E673;
    background-color: #26E673;
    padding-top: 2%;
    padding-bottom: 2%;
}

.serviciosCardBtn:hover{
    background-color: #196B3A;
    border-color: #196B3A;
    color: white;
}

.serviciosCardBoxBtn {
    padding: 5% 10% 15% 10%; 
}

.serviciosCardsTablet {
    display: none;
}

.serviciosLienaBlanca {
    height: 1vh;
    background-color: white;
    display: none;
}

.serviciosLienaNegra {
    height: 1.5vh;
    background-color: black;
    display: none;
}
.serviciosFin {
    height: 15vh;
    background-color: white;
}

@media only screen and (min-width: 768px) {

.serviciosTituloTablet {
    display: inline;
    color: white;
    letter-spacing: 20px;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    padding-top: 15%;
}

.serviciosLineaTablet {
    display: inline-block;
    width: 20vw;
    height: 10vh;
    border-top: white solid 2px;
    margin-top: 2%;
}

.serviciosCardsMovile {
    display: none;
}

.serviciosTituloMovile {
    display: none;
}

.serviciosCardsTablet {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    top: 40%;
    position: absolute;
}

.serviciosCard {
    width: 30vw;
    box-shadow: 10px 9px 15px -4px rgba(0,0,0,0.43);
    -webkit-box-shadow: 10px 9px 15px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 9px 15px -4px rgba(0,0,0,0.43);
     border-radius: 5%;
}

.serviciosCardBtn{
    width: 15vw;
}

.serviciosCardTitulo {
    height: 10vh;
    font-size: 2rem;
}

.serviciosCardParrafo {
    height: 10vh;   
}

.serviciosLienaBlanca {
    display: block;
}

.serviciosLienaNegra {
    display: block;
}


}

@media only screen and (min-width: 1024px) {

    .serviciosCardTitulo {
        display: inline-block;
    }

    .serviciosTituloTablet {
        display: flex;
        width: 100vw;
        justify-content: space-evenly;
        padding-top: 8%;
    }
    
    .serviciosLineaTablet{
        display: inline-block;
        width: 20vw;
        
        height: 10vh;
        
        border-top: white solid 2px;
    }
    .serviciosFin {
        height: 25vh;
    }

.serviciosCardsTablet {

    padding-left: 10%;
    padding-right: 10%;
}

    .serviciosCard {
        height: auto;  
        width: 30%;
    }
}
    