.paddingNav{
    padding: 0;   
    margin: 0;
}

.heightNav {
    height: 10vh;
}

.navLine {
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: solid 5px #26E673;
}

.navDwordFont{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    /* font-weight: bold; */
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    letter-spacing: 20px;
}

.navSecciones{
    width: 60%;
    display: inline-flex;
    justify-content: space-around;
}