.cuerpo {
    background-color: red;
    height: 120vh;

}

.navFuente{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    letter-spacing: 10px;
}

.navA {
    color: white;
}
.navMinuscula {
    display: inline;
}

.navMayuscula {
    display:none;
  }

 .navPadding {
     padding: 5%
    
 } 

 .navBtnHover:hover {
color:green;
 }

@media only screen and (min-width: 1024px) {

    .navAlineacion {
        justify-content: flex-end
    }
    .cuerpo {
        background-color: yellow;
    }
    .navMinuscula {
        display:none;
    }

    .navMayuscula {
        display: inline;
      }

.navSeparacion {
    width: 60%;
    display: flex;
    justify-content: space-evenly;

}

.navPadding {
    padding: 0%
   
} 
    
}