.footerContainer {
    height: 15vh;
    background-color: black;
    display: flex;
}
.footerAlign{
    display: flex;
    align-items: center;
    width: 100vw;
}
.footerInner {
    text-align: center;
    
}
.imgIcon {
    width: 50px;
    filter: invert(1);
    margin: 20px;
}
.imgRedes {
    width: 50px;
    filter: invert(1);
    margin: 20px;
}
.footerBrand {
    display: flex;
    align-content: center;
}
.footerBrandTxt {
    margin-bottom: auto;
    margin-top: auto;
}
.footerHome {
    display: flex;
    justify-content: flex-end;
}
.footerArrowTxt {
    margin-bottom: auto;
    margin-top: auto;
}

.greenArrow {
    color: #26E673;
}

.footerCenter {
    display: flex;
    align-content: center;
}